table
    {border-style: solid;
     border-color: red;
     border-width: 3px;     
     width: 500px; }

     th{
        border-style: solid;
        border-color: rgb(8, 0, 255);
        border-width: 7px;}

     td{
        border-style: solid;
        border-color: rgb(255, 128, 0);
        border-width: 9px;
     }   
        