.tituloPrincipal{
    background-color:green;
    color: white;
    text-align: justify;
}
.subtitulo{
     text-align: right;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: red;
    text-decoration: underline;
}